<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>

</head>

<body>
    <div class="container-fluid">
        <h1>Welcome to Payyavula Saiprakash's URL Shortener</h1>
        <hr>
        {% block content%}
        {% endblock %}
        <a href="https://www.linkedin.com/in/saiprakash-payyavula/">Lets Connect over linkedin </a>
        <br>
        <a href="https://github.com/payyavulasaiprakash/">Check out my GitHub Repos </a> 
    </div>
  </body>
</body>
</html>