{% extends "base.html" %}
{% block title %}shorten URL{% endblock %}

{% block content %}
<form action="", method="post">
    <label for="url">Input URL :</label>
    <input type="url" name="input_url" id="url"
       placeholder="https://example.com"
       pattern="https://.*" size="50"
       value="{{url_received}}"
       required>
    <br>
    <input type="submit" value="Shorten" class="btn btn-primary">
    <br>
</form>
<form action="{{url_for('copy_url')}}" method="post">
    <label for="myInput">Shortened URL :</label>
    <input type="url" name="shortened_url" id="myInput"
       value="{{url_to_be_added}}" 
       size="50" readonly
       required>
    <br>
    <button class="btn btn-success" onclick="myFunction()">copy</button>
</form>
<script>
    function myFunction() {
      var copyText = document.getElementById("url");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      navigator.clipboard.writeText(copyText.value);
      
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copied: " + copyText.value;
    }
    
    function outFunc() {
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copy to clipboard";
    }
</script>  

{% endblock %}