<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Regex_101_sample</title>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container {
  padding: 16px;
}

</style>
</head>
<body>

<h2>Regular Expression 101</h2>

<form action="{{ url_for('search_pattern_regex') }}" method="post">
  <div class="container">
    <label for="regex"><b>Regular Expression</b></label>
    <input type="text" placeholder="Enter your Regex here" name="regex" required>

    <label for="string"><b>Text String</b></label>
    <input type="text" placeholder="Enter your String" name="string" required>
        
    <button type="submit">Find</button>
  </div>
</form>

</body>
</html>
